name: Automate File Move and Update on Merge

on:
  push:
    branches:
      - main

jobs:
  move-and-update-files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Extract source branch name
        id: extract_branch
        run: |
          COMMIT_MESSAGE=$(git log -1 --pretty=%s)
          echo "Commit message: $COMMIT_MESSAGE"
          REPO_NAME=$(echo "$COMMIT_MESSAGE" | sed -E 's/.*\/([^\/]+)$/\1/')
          echo "Repository name: $REPO_NAME"